@model IEnumerable<TestApplicationForFSIN.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Форма со списком автомобилей</h1>

<p>
    <a asp-action="Create">Создать новый автомобиль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_registration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_registration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-car_id="@item.Id">Ред.</a> |
                <a asp-action="Delete" asp-route-car_id="@item.Id">Удалить</a>|
                <a asp-controller="Tech_Inspection" asp-action="getInspections" asp-route-car_id="@item.Id">Тех. осмотры</a>
            </td>
        </tr>
}
    </tbody>
</table>
